body{
    min-height:1500px;
}

  .nav{
    position:sticky;
    top:0; 
    z-index:100; ;
    
    
  }
 .modal{
  min-height:700px
 }
  .artist{
    min-height: 200px;
    width:100%
  }
   .over{background-image: url('images/music_background.avif');
    height:500px;
    background-size:cover;
  }
 
   #logo{width:30%;min-height:40px;
   text-shadow:4px 5px 3px blue;font-size:30px;
   color: white;
   }
  
  a#logo:hover{
    color:red 
   }
   ul.menu li a:hover{
    color:green !important
   }
   .pacifico-regular {
     font-family: "Pacifico", serif;
     font-weight: 400;
     font-style: normal;
   }
  .text{
    color:white;
   margin-top:120px ;
  }
  ul li a{
    color:white !important
  }
  .footer{
    color:white
  }
  .background{
    background-image: url('images/register.avif');
    height:600px;
    background-size: cover;
    
  }
  .trend a{
color:white;
text-decoration: none;
  }
  .login{
    background-image: url('images/login.jpg');
    min-height:700px;
    background-size: cover;
    
  }
  .overlay{
    background-color:rgba(0,0,0,0.7) ;
    height:100%;
  }